/* utilities */

.h30 {
  height: 30px;
}
.h50 {
  height: 50px;
}

.ec-h200 {
  height: 200px;
}

.h600 {
  height: 600px;
}

.max-height {
  width: 100%;
}

/*.top-header {
  line-height: 50px;
}

.sony-logo {
  vertical-align: middle;
}*/

.img-try {
  position: relative;
}

.jumbotron {
  width: 100%;
  height: 100%;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ec-returnal {
  padding-top: 300px;
}

.ec-height {
  height: 550px;
}

.ec-h-300 {
  height: 300px;
}

.ec-h-650 {
  height: 650px;
}

.ec-w {
  width: max-content;
}

@media screen and (min-width: 1530px) {
  .ec-img-w {
    height: 100px;
    margin: 0 50px;
  }

  .ec-h-300 {
    height: 600px;
  }

  .banner-exit img {
    height: 250px;
  }
}

.banner-takes {
  width: 100%;
  height: 100%;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-banner-exit {
  background-color: #1f1f1f;
}
